In [1]:
import cs104
from datascience import *
import numpy as np
%matplotlib inline

In [2]:
finches = Table().read_table("finch_beaks_1975_dirty.csv")

In [3]:
finches

band | species | Beak length, mm | Beak depth, mm
2    | fortis  | 9.4             | 8
9    | fortis  | 9               | nan
12.5 | fortis  | 9.5             | 7.5
15   | nan     | missing         | 8
305  | fortis  | 11.5            | missing
307  | for     | 11.1            | 8.6
308  | fortis  | nan             | 8.4
nan  | fortis  | 11.5            | 9.8
311  | fortis  | 10.8            | 9.2
312  | fortis  | 11.3            | 9
... (78 rows omitted)

In [4]:
cs104.with_clean_columns(finches, 'species', str)

(band | species | Beak length, mm | Beak depth, mm
 2    | fortis  | 9.4             | 8
 9    | fortis  | 9               | nan
 12.5 | fortis  | 9.5             | 7.5
 305  | fortis  | 11.5            | missing
 307  | for     | 11.1            | 8.6
 308  | fortis  | nan             | 8.4
 nan  | fortis  | 11.5            | 9.8
 311  | fortis  | 10.8            | 9.2
 312  | fortis  | 11.3            | 9
 313  | fortis  | 11.5            | 9.5
 ... (77 rows omitted),
 band | species | Beak length, mm | Beak depth, mm
 15   | nan     | missing         | 8)

In [5]:
cs104.with_clean_columns(finches, 'Beak length, mm', float)

(band | species | Beak length, mm | Beak depth, mm
 2    | fortis  | 9.4             | 8
 9    | fortis  | 9               | nan
 12.5 | fortis  | 9.5             | 7.5
 305  | fortis  | 11.5            | missing
 307  | for     | 11.1            | 8.6
 nan  | fortis  | 11.5            | 9.8
 311  | fortis  | 10.8            | 9.2
 312  | fortis  | 11.3            | 9
 313  | fortis  | 11.5            | 9.5
 314  | fortis  | 11.5            | 8.9
 ... (73 rows omitted),
 band | species  | Beak length, mm | Beak depth, mm
 308  | fortis   | nan             | 8.4
 402  | fortis   | nan             | 8.8
 724  | scandens | nan             | nan
 15   | nan      | missing         | 8
 326  | fortis   | missing         | 9.1)

In [6]:
cs104.with_clean_columns(finches, 'Beak length, mm', float, 'species', str)

(band | species | Beak length, mm | Beak depth, mm
 2    | fortis  | 9.4             | 8
 9    | fortis  | 9               | nan
 12.5 | fortis  | 9.5             | 7.5
 305  | fortis  | 11.5            | missing
 307  | for     | 11.1            | 8.6
 nan  | fortis  | 11.5            | 9.8
 311  | fortis  | 10.8            | 9.2
 312  | fortis  | 11.3            | 9
 313  | fortis  | 11.5            | 9.5
 314  | fortis  | 11.5            | 8.9
 ... (73 rows omitted),
 band | species  | Beak length, mm | Beak depth, mm
 308  | fortis   | nan             | 8.4
 402  | fortis   | nan             | 8.8
 724  | scandens | nan             | nan
 15   | nan      | missing         | 8
 326  | fortis   | missing         | 9.1)

In [7]:
k,r = cs104.clean(finches, [ int, str, float, float ])

In [8]:
k

band | species | Beak length, mm | Beak depth, mm
2    | fortis  | 9.4             | 8
307  | for     | 11.1            | 8.6
311  | fortis  | 10.8            | 9.2
312  | fortis  | 11.3            | 9
313  | fortis  | 11.5            | 9.5
314  | fortis  | 11.5            | 8.9
315  | fortis  | 9.7             | 8.8
316  | fortis  | 10.9            | 9.85
320  | fortis  | 10.1            | 8.9
321  | fortis  | 10.6            | 8.5
... (64 rows omitted)

In [9]:
r

band    | species  | Beak length, mm | Beak depth, mm
nan     | fortis   | 11.5            | 9.8
12.5    | fortis   | 9.5             | 7.5
missing | fortis   | 10.8            | 9.4
1842.2  | scandens | 14.83           | 8.3
15      | nan      | missing         | 8
308     | fortis   | nan             | 8.4
402     | fortis   | nan             | 8.8
724     | scandens | nan             | nan
326     | fortis   | missing         | 9.1
9       | fortis   | 9.0             | nan
... (4 rows omitted)